.box {
  display: block;
  align-items: center;
  justify-content: flex-end;
  height: inherit;
  width: 50%;
  padding: 1rem 1.5rem;
  margin: 3.5rem 4rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
  /* font-weight: 500; */
  color: #050505;
  background-color: #c7a6a663;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 5px #8589a5;
}

p {
  margin-top: 0rem;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 1.5px;
  padding: 2.5rem;
  border-bottom: 1px solid hsla(240, 7%, 3%, 0.192);
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-top: 1px solid hsla(240, 7%, 3%, 0.192);
  border-top-style: dashed;
  border-top-width: 1px;
}

.handle {
  cursor: move;
  margin: 0;
  padding: 0;
}

/* .back {
    background-color: #c1c7a663;
    border-radius: 5rem;
    width: auto;
  }
   */
