.home-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: 85vh;
}

.home-container1 {
  display: inline-block;
  align-items: left;
  justify-content: left;
  margin: 0;
  height: 85vh;
  /* width: 1000px; */
}

.home-container2 {
  display: inline-block;
  align-items: right;
  justify-content: right;
  background: transparent;
  height: 55vh;
  margin-top: -25rem;
}

.info h4 {
  display: inline;
  justify-content: left;
  text-align: left;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgb(248, 240, 240);
  border-radius: 0.5rem;
  margin: 1rem 20rem;
  padding: 0 1rem;
  color: white;
  font-size: 2rem;
}

.info h1 {
  font-size: 3rem;
  margin: 1rem 19rem;
  padding: 0 1rem;
  color: white;
  --animate-duration: 2s;
  white-space: nowrap;
  animation: typing 3s steps(25) forwards;
  word-wrap: wrap;
  text-align: left;
}
.h1::after {
  content: "WEB DESIGNER";
  position: absolute;
  top: -20%;
  left: 6%;
  transform: translateY(-100%);
  font-size: 1.3em;
  color: #28d1bb;
  animation: bounce 1s forwards;
  animation-delay: 2s;
}

@keyframes bounce {
  0% {
    transform: translateY(60%);
  }
  50% {
    transform: translateY(100%);
  }
  100% {
    top: 50%;
    transform: translateY(50%);
  }
}

p {
  font-size: 1rem;
  margin: 1rem 18rem;
  padding: 0 1rem;
  color: white;
}
.home-photo {
  transition: 0.5s;
  border-width: 5px;
  border-radius: 10px;
}

/* .home-photo:hover {
  transform: scale(1.1);
} */

.name {
  width: auto;
  text-align: center;
  padding: 4rem 0rem;
  font-family: Lucida Handwriting, sans-serif;
  font-size: 3rem;
  color: #6096b4;
  text-shadow: 3px 2px 3px #c7a6a6;
  letter-spacing: 5px;
  transition: 0.1s;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(25) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.name:hover {
  transform: scale(1.1);
  color: #6096b4;
  text-shadow: 3px 2px 3px #c7a6a6;
}

.social {
  position: absolute;
  right: 4.5rem;
  bottom: 2rem;
  font-size: 2rem;
}
