.nav-wrapper {
  list-style: none;
  position: fixed;
  width: 200px;
  height: 45%;
  padding: 0px 15px;
  margin: 80px;
  border: 0.5px solid #fc8686;
  backdrop-filter: blur(5px);
  border-radius: 2rem;
  color: #fc8686;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@include media-breakpoint-between(sm, xl) {
  .nav {
    display: block;
  }
}

.nav-list {
  padding: 1.5rem 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-item a,
li {
  list-style: none !important;
  margin-top: 3rem;
  color: #ccb1b1;
  text-decoration: none;
  font-size: 1.5rem;
  transform: scale(1.5px);
}
.nav-item a:hover {
  color: #7edff7;
  transition: 0.3s;
}
