.sample {
    padding: 0;
    margin: 3rem 0rem;
    display: block;
    justify-items: center;
}
  
.work {
    text-align: center;
    margin-top: 5rem;
    padding: 2rem 0rem;
    font-size: 3.5rem;
  }
  
.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    letter-spacing: 0.3rem;
    width: 50%;
    height: auto;
}

.project1, .project2 {
    border: 1px solid gray ;
    border-radius: 2rem;
    width: auto;
    height:auto;
    font-size: 1.1rem;
}

.project1 p, .project2 p {
    line-height: 2.5rem;
    letter-spacing: 0.05rem;
}

.project1 img, .project2 img{
    width: 70vh;
    height: 50vh;
    padding: 1rem 0rem;
}
  
.description {
    font-size: 1.3rem;
    margin: 0;
    border-bottom: none;
}